<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
<link rel="stylesheet" href="/css/first.css">
</head>

<body>
    <nav>
        <ul class="nav_ul">
            <li><a href="/users">Users</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>

        </ul>
    </nav>
    </header>
    <main>
        <h1>Wellcome to my website</h1>
        <input type="text" name="user" placeholder="user">
        <button>Submit</button>
    </main>
</body>
</html>