
<%- include("includes/head.ejs") %>
</head>

<body>
 <%- include("includes/nav.ejs") %>
    <main>
        <% if(registerUser.length>0){ %>
            <% for (let user of registerUser){ %>
                <ul>
                    <li>
                        <%= user.name%>
                    </li>
                </ul>
                <%}%>
                    <% }else { %>

                        <p>No User Register Yet!</p>
                        <%}%>
    </main>

    <%- include("includes/end.ejs") %>